<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Cookie Set <%= title %></p>
    <button id="getBtn">make through GET method</button>
    <br>
    <button id="postBtn">make through POST method</button>
    <br>
    <button id="updateBtn">make through UPDATE method</button>
    <br>
    <button id="deleteBtn">make through DELETE method</button>
    <br>
    <hr>
    <button id="preflightBtn">make preflight request</button>
    <br>
    <div id="wrap">
      <h3>List</h3>
      <ul id="list"></ul>
      <ul>
        <li><a href="/cookie-set">cookie set</a></li>
        <li><a href="/cookie-get">cookie get</a></li>
      </ul>
    </div>
    <script>
      var apiBase = 'https://api.okdevtest.net';

      function reqListener() {
        console.log(this.responseText);
        const data = JSON.parse(this.responseText);
        const el = document.getElementById('list');
        const item = data.cookie;
        el.innerHTML += `<li>${item}</li>`;
      }
      function get() {
        var xhr = new XMLHttpRequest();
        xhr.addEventListener('load', reqListener);
        xhr.open('GET', `${apiBase}/ajax/server`, true);
        xhr.withCredentials = true;
        xhr.send(null);
      }
      function post() {
        var xhr = new XMLHttpRequest();
        xhr.addEventListener('load', reqListener);
        xhr.open('POST', `${apiBase}/ajax/server`, true);
        xhr.withCredentials = true;
        xhr.send(null);
      }
      function put() {
        var xhr = new XMLHttpRequest();
        xhr.addEventListener('load', reqListener);
        xhr.open('PUT', `${apiBase}/ajax/server`, true);
        xhr.withCredentials = true;
        xhr.send(null);
      }
      function del() {
        var xhr = new XMLHttpRequest();
        xhr.addEventListener('load', reqListener);
        xhr.open('DELETE', `${apiBase}/ajax/server`, true);
        xhr.withCredentials = true;
        xhr.send(null);
      }
      function preflight() {
        var xhr = new XMLHttpRequest();
        xhr.addEventListener('load', reqListener);
        xhr.open('POST', `${apiBase}/ajax/server`, true);
        xhr.withCredentials = true;
        xhr.setRequestHeader('Ping-Other', 'pingpong');
        xhr.setRequestHeader('Content-Type', 'application/xml');
        xhr.send(null);
      }
      function init() {
        document.getElementById('getBtn').addEventListener('click', get);
        document.getElementById('postBtn').addEventListener('click', post);
        document.getElementById('updateBtn').addEventListener('click', put);
        document.getElementById('deleteBtn').addEventListener('click', del);
        document.getElementById('preflightBtn').addEventListener('click', preflight);
      }
      init();
    </script>
  </body>
</html>
