<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Cookie Get <%= title %></p>
    <button id="callBtn">get</button>
    <div id="wrap">
      <h3>List</h3>
      <ul id="list"></ul>
      <ul>
        <li><a href="/cookie-set">cookie set</a></li>
        <li><a href="/cookie-get">cookie get</a></li>
      </ul>
    </div>
    <script>
      var apiBase = 'https://api.okdevtest.net';

      function reqListener() {
        const data = JSON.parse(this.responseText);
        console.log(data);
        const el = document.getElementById('list');
        const keys = Object.keys(data.cookies);
        keys.forEach((item) => {
          el.innerHTML += `<li>${item}</li>`;
        });
      }
      function setCoo() {
        var xhr = new XMLHttpRequest();
        xhr.addEventListener('load', reqListener);
        xhr.open('GET', `${apiBase}/ajax/get`, true);
        xhr.withCredentials = true;
        xhr.send(null);
      }
      function init() {
        document.getElementById('callBtn').addEventListener('click', setCoo);
      }
      init();
    </script>
  </body>
</html>
